.BottomButtons {
    position: absolute;
    width: 100%;
    top: calc(var(--app-height) - var(--bottom-height));
    height: var(--bottom-height);
    background-color: white;
    border-radius: 30px;
    border: solid black var(--inner-border);
    transform: translateX(calc(var(--inner-border) * -1));
    display: flex;
    align-items: center;
}

.home-button, .back-button, .route-button, .random-button, .globe-button {
    position: absolute;
    transform: translateX(-50%);
    cursor: pointer;
    height: 80%;
}
.home-button {
    left: 10%;
}
.back-button {
    left: 30%;
}
.route-button {
    left: 50%;
}
.random-button {
    left: 70%;
}
.globe-button {
    left: 90%;
}

.mode-button-disabled {
    opacity: 0.5 !important;
}