.BottomButtons {
    position: absolute;
    width: clamp(200px, 100%, var(--app-max-width));
    top: 85%;
    height: 15%;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
}



.home-button, .back-button, .route-button, .random-button, .globe-button {
    position: absolute;
    transform: translateX(-50%);
    cursor: pointer;
}
.home-button {
    left: 10%;
}
.back-button {
    left: 30%;
}
.route-button {
    left: 50%;
}
 .random-button {
    left: 70%;
}
.globe-button {
    left: 90%;
}

.mode-button-disabled {
    opacity: 0.5 !important;
}