
.GoogleMapsApp {
    position: relative;
    height: 100%;
    width: clamp(200px, 100%, var(--app-max-width));
}

#map {
    position: absolute;
    border-radius: 30px 30px 30px 30px;
    top: calc(var(--title-height) + 2vh);
    width: 100%;
    height: calc(var(--app-height) - var(--title-height) - var(--bottom-height) - 3vh);
    border: solid black 3px;
}

.move-or-not-box {
    position: absolute;
    border: 0px solid black;
    left: 3%;
    top: calc(var(--title-height) + 3vh );
    font-size: 16px !important;
    font-weight: bold !important;
}
    .move-or-not-box label {
        font-size: 16px !important;
        font-weight: bold !important;
    }