.HeaderBlock {
    position: relative;
    width: 100%;
    text-align: center;
}

    .HeaderBlock Button {
        position: absolute;
        left: 98%;
        top: 0%;
        transform: translateX(-100%);
        width: clamp(30px, 3vmax, 50px);
        min-width: 0 !important;      
        height: clamp(30px, 3vmax, 50px);
        background-color: var(--button-background-color) !important;
        color: var(--button-text-color) !important;
        border: 0.1rem solid black !important;
        font-size: clamp(15px, 3vmax, 30px) !important;
    }
@media(hover: hover) {
    .HeaderBlock Button:hover {
        background-color: var(--button-background-color-hover) !important;
    }
}