.InstructionBlock {
    position: absolute;
    width: clamp(200px, 100%, var(--app-max-width));
    height: 9vh;
    top: 0vh;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    transition: height 0.5s;
    border: solid black 2px;
}

    .InstructionBlock.expanded {
        width: clamp(200px, 100%, var(--app-max-width));
        height: 91%;
        border-radius: 10px;
        border: solid black 2px;
    }

    .InstructionBlock Button {
        position: absolute;
        left: 3%;
        top: 5%;
        width: clamp(30px, 3vmax, 50px);
        min-width: 0 !important;
        height: clamp(30px, 3vmax, 50px);
        background-color: white;
        color: var(--button-text-color) !important;
        border: 0.1rem solid black !important;
        font-size: clamp(15px, 3vmax, 30px) !important;
    }





.xbutton {
    position: absolute;
    left: 100%;
    transform: translateX(-100%);
    top: 0%;
    width: 8%;
    padding: 10px;
}
.navbutton {
    margin-top: 4%;
    margin-left: 15%;
    margin-right: 15%;
    width: 10%;
}

.navbuttondis {
    opacity: 0.3;
}
    .OverlayBlock Button:hover {
    background-color: white !important;
}

.InstructionBlock_Title {
    text-transform: capitalize;
    white-space: nowrap; /* Prevents text from wrapping to the next line */
    overflow: hidden; /* Hides any overflowed content */
    text-overflow: ellipsis;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
}

.InstructionBlock_Text {
    font-size: 1rem !important;
    text-align: left;
    padding: 0.5rem;
}

 