.OverlayBlock {
    position: absolute;
    width: 0;
    height: 0;
    top: calc(var(--app-height) / 2);
    text-align: center;
    background-color: white;
    border-radius: 100px;
    transition: width 0.5s, height 0.5s, top 0.5s, border-radius 0.5s;
}

    .OverlayBlock.expanded {
        width: clamp(200px, 100%, calc(var(--app-max-width) + 10px));
        height: calc(var(--app-height) + 1.5vh);
        top: 0.5vh;
        border-radius: 30px;
        border: solid black 3px;
        transition: width 0.5s, height 0.5s, top 0.5s, border-radius 0.5s;
    }

.wikilogo {
    position: absolute;
    left: 0%;
    top: 0%;
    height: calc(var(--title-height) * 0.7);
    width: auto;
    padding: 10px;
}

.xbutton {
    position: absolute;
    left: 99%;
    top: 1%;
    height: calc(var(--title-height) * 0.7);
    width: auto;
    transform: translateX(-100%);
}


.OverlayBlockTitle, .OverlayBlockSubTitle {
    text-transform: capitalize;
    white-space: nowrap; /* Prevents text from wrapping to the next line */
    overflow: hidden; /* Hides any overflowed content */
    text-overflow: ellipsis;
    padding-top: 1rem;
  
}
.OverlayBlockTitle {
    font-size: clamp(35px, 4vw, 44px) !important;
}
.OverlayBlockSubTitle {
    font-size: clamp(20px, 3vw, 25px) !important;
}


.OverlayBlockText {
    font-size: clamp(18px, 2.5vw, 22px) !important;
    text-align: left;
    padding: 1rem;
}

.OverlayBlockFoot {
    position: absolute;
    top: 92%;
    font-size: clamp(18px, 2.5vw, 22px) !important;
    text-align: left;
    padding: 0.5rem;
}  