:root {
    --background-color: #eee;
    --button-text-color: #000000;
    --button-background-color: #77ee00;
    --button-background-color-hover: #55aa00;
}

.appContainer {
    display: flex;
    justify-content: center;
    user-select: none;
    width: 100%;
}

.gridContainer {
    user-select: none;
    max-width: 660px;
    background-color: var(--background-color);
    grid-row-gap: 1vh;
    border-radius: 10px;
}

.centerContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-row {
    height: 54vh;
}
.third-row {
    height: 14vh;
}

.fourth-row {
    height: 44vh;
    border: solid black 2px;
}

.unselectable {
    user-select: none;
}

html {
    font-size: 20px; /* Set the root font size */
}



