:root {
    --background-color: none;
    --button-text-color: #000000;
    --button-background-color: #77ee00;
    --button-background-color-hover: #55aa00;
    --app-max-width: 750px;
    --app-height: 85vh;
    --title-height: clamp(40px, 10vh, 100px);
    --bottom-height: clamp(50px, 13vh, 130px);
    --button-size: 7vh;
}



.appContainer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: clamp(200px, 100%, var(--app-max-width));
    height: var(--app-height);
    user-select: none;
    border: solid black 15px;
    border-radius: 30px;
    padding: 15px;
    background-color: var(--background-color);
}



html {
    font-size: 20px; /* Set the root font size */
}



