

.unselectable {
    user-select: none;
}

html {
    font-size: 20px; /* Set the root font size */
}

.app-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 9vh 4vh auto 2vh calc(8vh + var(--extra-height));
    max-width: max-content;
    height: auto;
    width: auto;
    margin: auto;
    padding: 3vw;
    padding-top: 0rem;
    text-align: center;
    border: 2px solid black;
    border-radius: 1vmax;
    background-color: #f8f8f8;
}

.title {
    display: grid;
    width: 100%;
    grid-column: 1 / 13;
    grid-row: 1;
    font-weight: 900;
    font-size: clamp(14px, 7vw, 50px);
    margin: auto;
    padding-top: 1vh;
}

.info_button {
    display: grid;
    grid-column: 1 / 13;
    grid-row: 1;
    position: relative;
}
    .info_button button {
        position: absolute;
        min-width: 4px;
        right: 2%;
        width: 50px;
        background-color: #eee;
        color: black;
        border: 0.1rem solid black;
        width: 10%;
        top: 30%;
        height: 50%;
        font-size: 1rem;
    }

        .info_button button:hover {
            background-color: #ccc;
        }


.top-buttons-or-counter {
    grid-column: 1 / 13;
    grid-row: 2;
    width: 100%;
    font-size: clamp(18px, 4.5vw, 24px);
    font-weight: bold;
}

.painting-section {
    grid-column: 1 / 13;
    grid-row: 3;
    height: clamp(300px, 80vw, 600px);
    aspect-ratio: 1;
    border: 0.5rem solid black;
    margin: auto;
    position: relative;
     
}
    .painting-section img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

.painting-slider {
    position: absolute;
    top: 100%;
    left: 0;
    height: 1%;
    width: 100%;
}


.painter-slider {
    position: absolute;
    top: 0;
    left: 102%;
    height: 100%;
    width: 1%;
}


.painting-name {
    grid-column: 1 / 13;
    grid-row: 5;
}

.painter-choice-buttons {
    grid-column: 1 / 13;
    grid-row: 5;
    width: 100%;
    font-size: clamp(18px, 4.5vw, 24px);
    font-weight: bold;
}

@media screen and (max-width: 765px) {
    html {
        font-size: 16px;
    }
}


@keyframes green-flash {
    0% {
        border: 0.5rem solid black;
    }

    50% {
        border: 0.5rem solid green;
    }

    100% {
        border: 0.5rem solid black;
    }
}

@keyframes red-flash {
    0% {
        border: 0.5rem solid black;
    }

    50% {
        border: 0.5rem solid red;
    }

    100% {
        border: 0.5rem solid black;
    }
}

.go-green {
    animation: green-flash 1.5s infinite;
}

.go-red {
    animation: red-flash 1.5s infinite;
}

